@mixin displayFlex(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;    
}

@mixin flex($input) {
    -ms-flex: $input;
    flex: $input;    
}

@mixin transition($input) {
    -moz-transition:    $input;
    -o-transition:      $input;
    -webkit-transition: $input;
    transition:         $input;    
}

@mixin transition-standard(){
    @include transition(all 0.4s ease-in-out);
}

@mixin hover-standard($input, $type) {
    @if($type == 'color') {
        color: darken($input, 25%);
    }
    @if($type == 'background-color') {
        background-color: darken($input, 25%);
    }
}