/* ------------ */
@mixin displayFlex(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;    
}

@mixin flex($input) {
    -ms-flex: $input;
    flex: $input;    
}

body, html {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.layout {
    background-color: #cce;
}

.logo {
    @include flex(0 0 100px);
    text-align: center;
    font-size: 50px;
}

.site-header {
    position: relative;
    align-items: center;
    @include displayFlex();

    &::after {
        content: "";
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 0;
        width: 100%;
        border-bottom: 8px solid rgba(255,152,0,0.5);
    }
}

.header-middle-area {
    @include flex(1);
}

.search-area {
    @include flex(0 0 300px);
    background-color: blue;    
}
.main-menu {
    @include flex(0 0 300px);
    background-color: #990000; 
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }
}

/* ------------ */

.header {
    margin-bottom: 30px;

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;        
    }
}

.voting-container {
    flex: 0 0 50px;
}

.story {
    flex: 1 1 75%;
    position: relative;

    h2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.view {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.profile {
    position: absolute;
    bottom: 0;
    right: 0;
}

.story-in-list {
    display: flex;
}

.show-more {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #cccccc;
}

.edit-div-textarea {
    flex: 1 1 75%;

    textarea {
        width: 100%;
        height: 300px;
    }

    margin-bottom: 20px;    
}

.create-story {
    textarea {
        width: 100%;
        height: 300px;
    }
}

.edit-div {
    flex: 1 1 75%;
    display: flex;
}
