@import './general.scss';
@import './variables.scss';
@import './mixins.scss';
@import './votebar.scss';
@import './login.scss';

/* ------------ */
.layout {
    background-color: $color-background;
}

.backdrop {
    content: '';
    background-color: $header-color-background;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;        
}

.logo {
    @include flex(0 0 100px);
    text-align: center;
    font-size: 2rem;

    @media (max-width: $mobile-max-width) {
        @include flex(0 0 50px);
        font-size: 1rem;
    }
}

.site-header {
    position: relative;
    background-color: $header-color-background;
    color: $color-background;
    margin-bottom: $gutter;
    height: 85px;

    a {
        color: $color-background;
    }

    .header-width {
        max-width: $header-width;
        margin: 0 auto;
        position: relative;
        align-items: center;
        height: 100%;
        @include displayFlex();
    }
}

.header-middle-area {
    @include flex(1);

    a {
        font-size: 2rem;
    }

    @media (max-width: $mobile-max-width) {
        a {
            font-size: 1rem;
        }
    }    
}

.main-menu {
    @include flex(0 0 300px); 
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 50%;
            display: inline-block;
            padding: 1rem;
            text-align: center;
            
            a {
                width: 100%;                
                display: inline-block;
            }
        }
    }

    @media (max-width: $mobile-max-width) {
        @include flex(0 0 150px);
        ul {
            li {
                padding: 0.5rem;
                a {
                font-size: 0.6rem;
                } 
            }    
        }    
    }
}

.story-width {
    max-width: $content-width;
    margin: 0 auto $gutter auto;
}

.story-in-list {
    padding: 1rem;
    background-color: white;
    margin-bottom: $gutter;
    @include displayFlex();
    border-bottom: 8px solid $color-border;

    .story {
        padding-left: 1rem;

        h2 {
            font-size: 2rem;
        }

        p {
            line-height: 1.8rem;
        }
    }
}

.view-story {
    position: relative;

    .profile {
        position: absolute;
        right: 0;
        bottom: -1rem;
        opacity: 0.5;
    }

    .votebar {
        display: inline-block;
        width: 50px;
        position: absolute;
        left: -65px;
        opacity: 0.5;
        .down-vote {
            font-size: 1rem;
        }
        .up-vote {
            font-size: 1rem;
        }
        .edit {
            font-size: 1rem;
        }
    }
}