@import './general.scss';
@import './variables.scss';
@import './mixins.scss';
@import './votebar.scss';
@import './login.scss';
@import './story.scss';

/* ------------ */
.layout {
    background-color: $color-background;
    padding: $gutter/4;
    padding-top: 85px + $gutter;    
}

.logo {
    @include flex(0 0 100px);
    text-align: center;
    font-size: 2rem;
    transition: all 1s;

    &[data-isLoading="true"] {
        color: green;
    }

    @media (max-width: $mobile-max-width) {
        @include flex(0 0 50px);
        font-size: 1rem;
    }
}

.loading-bar {
    position: fixed;
    z-index: 2;
    margin-top: -$gutter;
    width: 100%;
    margin-left: -$gutter/4;
    margin-right: -$gutter/4;
    height: 8px;    

    &:before {
        content: '';
        display: block;
        background-color: $color-unique;
        height: 5px;
        transition: all 0.2s;
    }

    &[data-percentage="0"] {
        &:before {
            width: 0%;
        }
    }

    &[data-percentage="25"] {
        &:before {
            width: 25%;
        }
    }

    &[data-percentage="50"] {
        &:before {
            width: 50%;
        }
    }

    &[data-percentage="75"] {
        &:before {
            width: 75%;
        }
    }

    &[data-percentage="100"] {
        &:before {
            width: 100%;
        }
    }                 
}

.site-header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: $header-color-background;
    color: $color-background;
    margin-top: -85px - $gutter;
    margin-left: -$gutter/4;
    margin-right: -$gutter/4;
    height: 85px;

    a {
        color: $color-background;
    }

    .header-width {
        max-width: $header-width;
        margin: 0 auto;
        position: relative;
        align-items: center;
        height: 100%;
        @include displayFlex();
    }
}

.header-middle-area {
    @include flex(1);

    a {
        font-size: 2rem;
        @include transition-standard();
        &:hover {
            @include hover-standard($color-background, 'color');
        }        
    }

    @media (max-width: $mobile-max-width) {
        a {
            font-size: 1rem;
        }
    }    
}

.main-menu {    
    @include flex(0 0 300px); 
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 50%;
            display: inline-block;            
            text-align: center;
            
            a, span {
                width: 100%;
                padding: 1rem;                
                display: inline-block;
                cursor: pointer;

                @include transition-standard();
                &:hover {
                    @include hover-standard($color-background, 'color');
                }
            }
        }
    }

    @media (max-width: $mobile-max-width) {
        @include flex(0 0 150px);
        ul {
            li {
                padding: 0.5rem;
                font-size: 0.6rem;
            }    
        }    
    }
}

.story-width {
    max-width: $content-width;
    margin: 0 auto $gutter auto;
}