$header-color-background: #2f3448;
$color-background: #f0eae5;
$color-unique: rgb(236, 188, 115); 
$color-border: rgb(218, 202, 179);

$content-width: 750px;
$header-width: 1000px;
$gutter: 50px;

$mobile-max-width: 767px;